[submodule "vim/.vim/bundle/puppet"]
	path = vim/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/vim-terraform"]
	path = vim/.vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/minimalist"]
	path = vim/.vim/bundle/minimalist
	url = https://github.com/dikiaap/minimalist
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-vimgitgutter"]
	path = vim/.vim/bundle/vim-vimgitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/w0rp/ale.git
